<%- include('./partials/header.ejs') %>
<%- include('./partials/otherheader.ejs') %>
<br>
<div style="display:flex;justify-content:center;align-items:center;padding-left:400px;padding-right:400px;color:black;">
    <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>ID</th>
            <th>Manufacturer</th>
            <th>Color</th>
            <th>Price</th>
            <th>Availability</th>
          </tr>
        </thead>
        <tbody></tbody>
            <% beanies.forEach((beanie) => { %>
                <tr>
                    <td><%= beanie.type %></td> 
                    <td><%= beanie.name %></td> 
                    <td><%= beanie.id %></td>
                    <td><%= beanie.manufacturer %></td>
                    <td><%= beanie.color %></td> 
                    <td><%= beanie.price %></td> 
                    <td><%= beanie.availability %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('./partials/footer.ejs') %>
