<%- include('./partials/header.ejs') %>
<%- include('./partials/otherheader.ejs') %>

<div style="display: flex;justify-content: center;align-items: center;padding-bottom: 20px;color: black;">
    <p>If the availabilities are loading, don't worry they'll appear after a few refreshes :)</p>
</div>

<div style="display:flex;justify-content:center;align-items:center;padding-left:400px;padding-right:400px;color:black;">
    <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>ID</th>
            <th>Manufacturer</th>
            <th>Color</th>
            <th>Price</th>
            <th>Availability</th>
          </tr>
        </thead>
        <tbody></tbody>
            <% items.forEach((item) => { %>
                <tr>
                    <td><%= item.type %></td> 
                    <td><%= item.name %></td> 
                    <td><%= item.id %></td>
                    <td><%= item.manufacturer %></td>
                    <td><%= item.color %></td> 
                    <td><%= item.price %></td> 
                    <td><%= item.availability %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('./partials/footer.ejs') %>